.card{
  background: #ffffff;
  display: flex;
  // flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  justify-content: space-between;
  color: #666666;

  // width: 100%;
}

.card:hover{
  cursor: pointer;
}

.card-title{
  font-size: 1rem;
}

.card-img{
  font-size: 3rem;
  text-align: center;
}
.card-footer{
  font-size: .8rem;
}

.selected{
  border-width: 2px;
  border-style: solid;
  // border-image: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

// background: #12c2e9;  /* fallback for old browsers */
// background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
// background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

