.wrapper{
  // height: 100%;


  margin-top: 3rem;
  padding-bottom: 3rem;

}



.sound-boxes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.box{
  width: 100%;
}

.audio-player{
  width: 100%;
  bottom: 0;
  position: fixed;
}

@media (min-width: 460px){
  .box{
    width: 300px;
  }
}
